{
    "openapi": "3.0.0",
    "info": {
      "description": "Python Flask API with Swagger UI"
      ,"version": "1.0.10"
      ,"title": "ApiSarbideExt"      
    },
    "servers": [      
      {
        "url": "https://api.sarbide.net"
      }  
      ,{
        "url": "https://lb.sarbide.net"
      }      
      ,{
        "url": "https://6w2w4m6jz8.execute-api.eu-west-1.amazonaws.com/Test"
      }  
      ,{
        "url": "https://6w2w4m6jz8.execute-api.eu-west-1.amazonaws.com/Production"
      }          
      ,{
        "url": "/"
      }
    ],
    "tags": [    
      {
        "name": "Asset",
        "description": "Example API for requesting and return asset requests"
      }
      ,{
        "name": "ExtMedia",
        "description": "Example API for requesting and return extmedia requests"
      }
      ,{
        "name": "Project",
        "description": "Example API for requesting and return project requests"
      }    
    ],
    "paths": {
      "/Asset/ByProject/{tag}/{project_id}": {
        "get": {
          "tags": [
            "Asset"
          ],
          "summary": "Retorna la lista de assets para un proyecto dado",
          "parameters": [
            {
              "in": "path",
              "name": "tag",
              "required": true,
              "description": "tag",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }            
            ,{
              "in": "path",
              "name": "project_id",
              "required": true,
              "description": "project_id",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }
          ]
          ,"responses": {
            "200": {
              "description": "OK, Assets response"
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/assets"
                  }
                }
              }
            }
            ,"204": {
              "description": "No Asset response."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }        
            ,"400": {
              "description": "Failed. Misunderstood Request."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
            ,"404": {
              "description": "Failed. Asset request not found."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }                           
        } 
        ,"options": {
          "responses": {
            "200": {
              "description": "200 response",
              "headers": {
                "Access-Control-Expose-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Max-Age": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }            
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Empty"
                  }
                }
              }
            }
          }
        }    
      }
      ,"/ExtMedia/Asset/{tag}/{asset_id}": {
        "get": {
          "tags": [
            "ExtMedia"
          ],
          "summary": "Lectura del extmedia dado el asset",
          "parameters": [
            {
              "in": "path",
              "name": "tag",
              "required": true,
              "description": "tag",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }            
            ,{
              "in": "path",
              "name": "asset_id",
              "required": true,
              "description": "asset_id",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }            
          ]
          ,"responses": {
            "200": {
              "description": "OK"
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }  
            ,"204": {
              "description": "No ExtMedia response."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/extmedia"
                  }
                }
              }
            }    
            ,"400": {
              "description": "Failed. Misunderstood Request."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
            ,"404": {
              "description": "Failed. ExtMedia request not found."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }          
        }  
        ,"options": {
          "responses": {
            "200": {
              "description": "200 response",
              "headers": {
                "Access-Control-Expose-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Max-Age": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Empty"
                  }
                }
              }
            }
          }
        }     
      }
      ,"/ExtMedia/Asset/full/{tag}/{asset_id}": {
        "get": {
          "tags": [
            "ExtMedia"
          ],
          "summary": "Lectura de toda la metadata de extmedia dado el asset",
          "parameters": [
            {
              "in": "path",
              "name": "tag",
              "required": true,
              "description": "tag",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }           
            ,{
              "in": "path",
              "name": "asset_id",
              "required": true,
              "description": "asset_id",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }           
          ]
          ,"responses": {
            "200": {
              "description": "OK"
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/extmediafull"
                  }
                }
              }
            }
            ,"204": {
              "description": "No ExtMedia response."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }      
            ,"400": {
              "description": "Failed. Misunderstood Request."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
            ,"404": {
              "description": "Failed. ExtMedia request not found."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }          
        }  
        ,"options": {
          "responses": {
            "200": {
              "description": "200 response",
              "headers": {
                "Access-Control-Expose-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Max-Age": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Empty"
                  }
                }
              }
            }
          }
        }     
      }      
      ,"/ExtMedia/Project/{tag}/{project_id}": {
        "get": {
          "tags": [
            "ExtMedia"
          ],
          "summary": "Lectura de parte de la metadata de los extmedia dado el proyecto",
          "parameters": [
            {
              "in": "path",
              "name": "tag",
              "required": true,
              "description": "tag",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }            
            ,{
              "in": "path",
              "name": "project_id",
              "required": true,
              "description": "project_id",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }           
          ]
          ,"responses": {
            "200": {
              "description": "OK"
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/extmediassimple"
                  }
                }
              }
            }
            ,"204": {
              "description": "No ExtMedia response."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }      
            ,"400": {
              "description": "Failed. Misunderstood Request."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
            ,"404": {
              "description": "Failed. ExtMedia request not found."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }          
        }  
        ,"options": {
          "responses": {
            "200": {
              "description": "200 response",
              "headers": {
                "Access-Control-Expose-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Max-Age": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Empty"
                  }
                }
              }
            }
          }
        }     
      }
      ,"/Project/User/{tag}/{email}": {
        "get": {
          "tags": [
            "Project"
          ],
          "summary": "Lectura de los projects a los que tiene acceso un usuario dado un email",
          "parameters": [
            {
              "in": "path",
              "name": "tag",
              "required": true,
              "description": "tag",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }            
            ,{
              "in": "path",
              "name": "email",
              "required": true,
              "description": "email",
              "schema": {
                "$ref": "#/components/schemas/id"
              }
            }
          ]
          ,"responses": {
            "200": {
              "description": "OK"
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
              ,"content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/projects"
                  }
                }
              }
            }  
            ,"204": {
              "description": "No project response."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }    
            ,"400": {
              "description": "Failed. Misunderstood Request."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
            ,"404": {
              "description": "Failed. project request not found."
              ,"headers": {
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                }
                ,"Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }          
        }
        ,"options": {
          "responses": {
            "200": {
              "description": "200 response",
              "headers": {
                "Access-Control-Expose-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Max-Age": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Empty"
                  }
                }
              }
            }
          }
        }       
      }
          
    },
    "components": {
      "schemas": {
        "Empty": {
          "title": "Empty Schema",
          "type": "object"
        }
        ,"extmedia": {
          "type": "object"             
          ,"properties" : {
            "ID_EXT_MEDIA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "identificador del ExtMedia" 
            }
            ,"ID" : {
              "type" : "string"                                 
              ,"description": "ID" 
            }
            ,"ASSET_ID" : {
              "type" : "integer"             
              ,"format" : "int32"                                
              ,"description": "identificador del asset" 
            }
            ,"ASSET_VALUE" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "fecha de valor del asset" 
            }
            ,"F1_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "FORMATO1_ID" 
            }
            ,"F2_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "FORMATO2_ID" 
            }
            ,"C1_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CONTENIDO1_ID" 
            }
            ,"C2_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CONTENIDO2_ID" 
            }
            ,"F1" : {
              "type" : "string"                  
              ,"description": "FORMATO1" 
            }
            ,"F2" : {
              "type" : "string"                
              ,"description": "FORMATO2" 
            }
            ,"C1" : {
              "type" : "string"                 
              ,"description": "CONTENIDO1" 
            }
            ,"C2" : {
              "type" : "string"                
              ,"description": "CONTENIDO2" 
            }
            ,"TITLE_10" : {
              "type" : "string"                                 
              ,"description": "título" 
            }
            ,"SCRIPT_DESCRIPTION" : {
              "type" : "string"                                 
              ,"description": "SCRIPT_DESCRIPTION" 
            }
            ,"REMARKS" : {
              "type" : "string"                                 
              ,"description": "REMARKS" 
            }
            ,"NESCALETA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "NESCALETA" 
            }
            ,"NNOTICIA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "NNOTICIA" 
            }
            ,"ANYO_ESC" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "ANYO_ESC" 
            }
            ,"NOMBRE_PROG" : {
              "type" : "string"                                 
              ,"description": "NOMBRE_PROG" 
            }
            ,"OFF" : {
              "type" : "string"                                 
              ,"description": "OFF" 
            }
            ,"SYNOPSIS_SAR" : {
              "type" : "string"                                 
              ,"description": "SYNOPSIS_SAR" 
            }
            ,"PRODUCT_CODE" : {
              "type" : "string"                                 
              ,"description": "PRODUCT_CODE" 
            }
            ,"CHAPTER" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CHAPTER" 
            } 
            ,"MEDIA_UTI_CRE" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "MEDIA_UTI_CRE" 
            }
            ,"MEDIA_UTI_MOD" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "MEDIA_UTI_MOD" 
            } 
            ,"MEDIA_CRE" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "MEDIA_CRE" 
            }
            ,"MEDIA_MOD" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "MEDIA_MOD" 
            }                                                    
            ,"ID_EXT_MEDIA_TYPE" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "ID_EXT_MEDIA_TYPE" 
            }
            ,"EXT_MEDIA_TYPE" : {
              "type" : "string"                                 
              ,"description": "EXT_MEDIA_TYPE" 
            }                    
          }
        }            
        ,"extmediafull": {
          "type": "object"                 
          ,"properties" : {
            "ID_EXT_MEDIA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "identificador del ExtMedia" 
            }            
            ,"ASSET_ID" : {
              "type" : "integer"             
              ,"format" : "int32"                                
              ,"description": "identificador del asset" 
            }
            ,"ASSET_VALUE" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "fecha de valor del asset" 
            }
            ,"F1_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "FORMATO1_ID" 
            }
            ,"F2_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "FORMATO2_ID" 
            }
            ,"C1_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CONTENIDO1_ID" 
            }
            ,"C2_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CONTENIDO2_ID" 
            }
            ,"F1" : {
              "type" : "string"                  
              ,"description": "FORMATO1" 
            }
            ,"F2" : {
              "type" : "string"                 
              ,"description": "FORMATO2" 
            }
            ,"C1" : {
              "type" : "string"                 
              ,"description": "CONTENIDO1" 
            }
            ,"C2" : {
              "type" : "string"                   
              ,"description": "CONTENIDO2" 
            }
            ,"TITLE_10" : {
              "type" : "string"                                 
              ,"description": "título" 
            }
            ,"SCRIPT_DESCRIPTION" : {
              "type" : "string"                                 
              ,"description": "SCRIPT_DESCRIPTION" 
            }
            ,"REMARKS" : {
              "type" : "string"                                 
              ,"description": "REMARKS" 
            }
            ,"NESCALETA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "NESCALETA" 
            }
            ,"NNOTICIA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "NNOTICIA" 
            }
            ,"ANYO_ESC" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "ANYO_ESC" 
            }
            ,"NOMBRE_PROG" : {
              "type" : "string"                                 
              ,"description": "NOMBRE_PROG" 
            }
            ,"OFF" : {
              "type" : "string"                                 
              ,"description": "OFF" 
            }
            ,"SYNOPSIS_SAR" : {
              "type" : "string"                                 
              ,"description": "SYNOPSIS_SAR" 
            }
            ,"PRODUCT_CODE" : {
              "type" : "string"                                 
              ,"description": "PRODUCT_CODE" 
            }
            ,"CHAPTER" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "CHAPTER" 
            }            
            ,"MEDIA_CRE" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "MEDIA_CRE" 
            }
            ,"MEDIA_MOD" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "MEDIA_MOD" 
            }                                                    
            ,"ID_EXT_MEDIA_TYPE" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "ID_EXT_MEDIA_TYPE" 
            }
            ,"EXT_MEDIA_TYPE" : {
              "type" : "string"                                 
              ,"description": "EXT_MEDIA_TYPE" 
            }
            ,"MP4PMD_URL" : {
              "type" : "string"                                 
              ,"description": "MP4PMD_URL" 
            }
            ,"WEBMPMD_URL" : {
              "type" : "string"                                 
              ,"description": "WEBMPMD_URL" 
            }
            ,"HLSRENDITION_URL" : {
              "type" : "string"                                 
              ,"description": "HLSRENDITION_URL" 
            }
            ,"THUMBNAIL_URL" : {
              "type" : "string"                                 
              ,"description": "THUMBNAIL_URL" 
            }
            ,"STILL_URL" : {
              "type" : "string"                                 
              ,"description": "STILL_URL" 
            }
            ,"SPRITE_URL" : {
              "type" : "string"                                 
              ,"description": "SPRITE_URL" 
            }                   
          }
        }
        ,"extmediassimple": {
          "type": "object"     
          ,"additionalProperties" : {
            "type" : "array"
            ,"items" : {              
              "$ref": "#/components/schemas/extmediasimple"              
            }                 
          }
        }   
        ,"extmediasimple": {
          "type": "object"                 
          ,"properties" : {
            "ID_EXT_MEDIA" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "identificador del ExtMedia" 
            }            
            ,"ASSET_ID" : {
              "type" : "integer"             
              ,"format" : "int32"                                
              ,"description": "identificador del asset" 
            }
            ,"ASSET_VALUE" : {
              "type" : "string"
              ,"format" : "date-time"                                 
              ,"description": "fecha de valor del asset" 
            }            
            ,"TITLE_10" : {
              "type" : "string"                                 
              ,"description": "título" 
            }                                                                            
            ,"EXT_MEDIA_TYPE" : {
              "type" : "string"                                 
              ,"description": "EXT_MEDIA_TYPE" 
            }
            ,"MP4PMD_URL" : {
              "type" : "string"                                 
              ,"description": "MP4PMD_URL" 
            }
            ,"WEBMPMD_URL" : {
              "type" : "string"                                 
              ,"description": "WEBMPMD_URL" 
            }
            ,"HLSRENDITION_URL" : {
              "type" : "string"                                 
              ,"description": "HLSRENDITION_URL" 
            }
            ,"THUMBNAIL_URL" : {
              "type" : "string"                                 
              ,"description": "THUMBNAIL_URL" 
            }
            ,"STILL_URL" : {
              "type" : "string"                                 
              ,"description": "STILL_URL" 
            }
            ,"SPRITE_URL" : {
              "type" : "string"                                 
              ,"description": "SPRITE_URL" 
            }                   
          }
        }
        ,"projects": {
          "type": "object"     
          ,"additionalProperties" : {
            "type" : "array"
            ,"items" : {              
              "$ref": "#/components/schemas/project"              
            }                 
          }
        }    
        ,"project": {
          "type": "object"             
          ,"properties" : {
            "PROJECT_ID" : {
              "type" : "integer"             
              ,"format" : "int32"             
              ,"description": "identificador del project" 
            }
            ,"TITLE_01" : {
              "type" : "string"                                 
              ,"description": "titulo del project" 
            }
          }
        }       
        ,"assets": {
          "type": "object"     
          ,"additionalProperties" : {
            "type" : "array"
            ,"items" : {
              "$ref": "#/components/schemas/asset" 
            }                 
          }
        }      
        ,"asset": {
          "properties": {
            "uuid": {
              "type" : "integer"
              ,"format" : "int32"     
            }
          }
        }      
        ,"id": {
          "properties": {
            "uuid": {
              "type": "string"
            }
          }
        }      
        ,"ErrorModel": {
          "type": "object"             
          ,"properties" : {
            "code" : {
              "type" : "integer"
              ,"format" : "int32"
              ,"description": "código de error" 
            }
            ,"message" : {
              "type" : "string"
              ,"description": "mensaje de error"    
            }
          }
      }
      }     
    }
  }
  